@*Definindo a classe de modelo da página*@
@model UsuariosWeb.Presentation.Models.AccountRegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height: 100%">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="height: 100%" class="bg-dark">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-4 offset-4">
                <div class="card bg-secondary">
                    <div class="card-body text-light">
                        <div class="text-center">
                            <img src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.png" class="rounded"/>
                            <h2>UsuariosWeb</h2>
                            <h5>Cadastro no sistema</h5>
                        </div>
                        <hr />

                        @*formulário para captura dos campos*@
                        @using (Html.BeginForm())
                        {
                            <div class="mb-3">
                                <label>Nome:</label>    
                                @Html.TextBoxFor(model => model.Nome, new {@class = "form-control bg-dark text-light"})
                                <span class="text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.Nome)</strong>
                                </span>
                            </div>

                            <div class="mb-3">
                                <label>Email de acesso:</label>    
                                @Html.TextBoxFor(model => model.Email, new {@class = "form-control bg-dark text-light"})
                                <span class="text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.Email)</strong>
                                </span>
                            </div>

                            <div class="mb-3">
                                <label>Senha de acesso:</label>    
                                @Html.PasswordFor(model => model.Senha, new {@class = "form-control bg-dark text-light"})
                                <span class="text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.Senha)</strong>
                                </span>
                            </div>
                            
                            <div class="mb-3">
                                <label>Confirmação de Senha:</label>    
                                @Html.PasswordFor(model => model.SenhaConfirmacao, new {@class = "form-control bg-dark text-light"})
                                <span class="text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.SenhaConfirmacao)</strong>
                                </span>
                            </div>

                            <div class="mb-3">
                                <div class="d-grid">
                                <input type="submit" value="Cadastrar" class="btn btn-info"/>
                                </div>
                            </div>
                            <div class="mb-3 text-center">
                                <div class="d-grid"><a href="/Account/Login" class="text-light">Já possui conta? <strong>Faça login aqui!</strong></a>
                                </div>
                            </div>
                            <div class="mb-3">
                            @if (TempData["MensagemSucesso"] != null)
                                {
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>@TempData["MensagemSucesso"]</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                }
                                else if (TempData["MensagemErro"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>@TempData["MensagemErro"]</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
